<footer class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3">
          <h5>Contacto</h5>
          <p>Dirección: Calle Falsa 123, Ciudad</p>
          <p>Teléfono: 123-456-7890</p>
          <p>Email: contacto palworld.org</p>
        </div>
        <div class="col-md-4 mb-3">
          <h5>Enlaces Útiles</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Inicio</a></li>
            <li><a href="#" class="text-white">Adopta</a></li>
            <li><a href="#" class="text-white">Cómo Ayudar</a></li>
            <li><a href="#" class="text-white">Testimonios</a></li>
            <li><a href="#" class="text-white">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-3">
          <h5>Suscripción</h5>
          <p>Suscríbete a nuestro boletín:</p>
          <form [formGroup]="formularioBoletin" (ngSubmit)="submit()">
            <input type="email" formControlName="correo" placeholder="Correo" class="form-control mb-2" required>
            @if (this.formularioBoletin.get('correo')?.touched && this.formularioBoletin.get('correo')?.errors?.['required'] ||
            this.formularioBoletin.get('correo')?.errors?.['email']) {
            <span> Se requiere un correo válido </span>
            <br>
            }
            <button type="submit" class="btn btn-primary">Suscribirse</button>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <h5>Síguenos en Redes Sociales</h5>
          <a href="https://www.facebook.com" class="text-white mx-2" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com" class="text-white mx-2" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com" class="text-white mx-2" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://www.twitter.com" class="text-white mx-2" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <p class="mb-0">© 2024 PalWorld. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  
<app-loader [visible]="isLoading"></app-loader>
  