<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img
        src="assets/img/carousel/1.jpg"
        class="d-block w-100 c-img"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>Encuentra a tu nuevo mejor amigo</h1>
        <p>
          Explora la alegría de adoptar una mascota que espera un hogar lleno de
          amor.
        </p>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="assets/img/carousel/2.jpg"
        class="d-block w-100 c-img"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>Cambia una vida, adopta</h1>
        <p>Adopta una mascota y cambia su vida para siempre.</p>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="assets/img/carousel/3.jpg"
        class="d-block w-100 c-img"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>Un hogar para cada corazón</h1>
        <p>Encuentra a tu compañero ideal y dale un hogar lleno de amor.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="about">
  <h1>PaWorld es más que un refugio</h1>
  <div class="video">
    <iframe
      width="560"
      height="315"
      [src]="video | domseguro : 'https://www.youtube.com/embed/'"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>
  </div>
  <p>
    Nuestro refugio se dedica a rescatar, rehabilitar y reubicar gatos y perros
    que han sido desplazados, maltratados o abandonados. En PaWorld, cada animal
    es tratado con el cuidado y la dignidad que merece, preparándolos para una
    nueva vida en hogares amorosos.
  </p>
  <h2>"Un corazón, una huella, un hogar."</h2>
</div>

<div class="cards-container">
  <h1>¿Por qué adoptar?</h1>
  <div class="cards">
    <div class="card" style="width: 18rem">
      <img src="assets/img/pets/1.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">Salva una vida</h2>
        <p class="card-text">
          Adoptar una mascota es una de las decisiones más gratificantes que
          puedes tomar. No solo estás salvando una vida, sino que también estás
          ganando un compañero leal.
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="assets/img/pets/8.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">Cambia una vida</h2>
        <p class="card-text">
          Adoptar una mascota es una oportunidad para cambiar una vida para
          siempre. Dale a un animal la oportunidad de tener un hogar lleno de
          amor y cuidado.
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="assets/img/pets/3.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">Amor Incondicional</h2>
        <p class="card-text">
          Adoptar una mascota significa recibir amor incondicional y compañía
          para toda la vida. Las mascotas son una fuente inagotable de amor y
          alegría en tu hogar.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="aboutus">
  <h1>Acerca de Nosotros</h1>
  <div class="integrante">
    <div>
      <img src="assets/img/team/1.png" alt="team" />
    </div>
    <div>
      <h2>Mariana Avila Rivera</h2>
      <p>
        Soy la responsable del engranaje administrativo aquí en PaWorld. Mi
        pasión por los gatos es lo que me motiva cada día a trabajar
        incansablemente para asegurarnos de que todo funcione sin problemas.
        Desde mantener registros precisos hasta coordinar eventos de adopción,
        mi objetivo es garantizar que cada minino que entra por nuestras puertas
        reciba el cuidado y la atención que merece. Como amante de los gatos, no
        hay nada que me haga más feliz que verlos encontrar hogares amorosos
        donde puedan ronronear sin preocupaciones.<br />¡Soy una firme creyente
        de que cada gato merece un lugar donde brillar, y estoy aquí para
        asegurarme de que eso suceda en PaWorld!"
      </p>
    </div>
  </div>
  <hr />
  <div class="integrante">
    <div>
      <img src="assets/img/team/2.png" alt="team" />
    </div>
    <div>
      <h2>Gerardo Diosdado Escalera</h2>
      <p>
        Soy Gerardo, y me siento increíblemente afortunado de formar parte del
        equipo de voluntariado aquí en PaWorld. Desde el momento en que pongo un
        pie en este refugio, mi corazón late más fuerte por cada gato que
        encuentra un hogar gracias a nosotros. Como voluntario, mi misión es
        asegurarme de que cada gatito se sienta amado y cuidado mientras espera
        su hogar. Desde jugar con ellos hasta estar seguro de que descansen en
        momentos de tranquilidad, estoy aquí para proporcionarles todo el cariño
        y la atención que necesitan. Verlos encontrar un nuevo hogar es la
        recompensa más grande que puedo imaginar.<br />¡Estoy orgulloso de ser
        parte de este increíble viaje en PaWorld!
      </p>
    </div>
  </div>
  <hr />
  <div class="integrante">
    <div>
      <img src="assets/img/team/3.png" alt="team" />
    </div>
    <div>
      <h2>Leonardo Daniel Gutiérrez Flores</h2>
      <p>
        Como cuidador, mi responsabilidad es asegurarme de que cada perrito
        reciba la atención y el afecto que merece mientras espera ansiosamente
        su hogar. Desde paseos divertidos hasta sesiones de juego en el patio,
        estoy aquí para hacer que su estadía sea lo más cómoda y feliz posible.
        Cada ladrido y cada mirada de gratitud me recuerdan por qué elegí
        dedicar mi vida a estos maravillosos seres.<br />En PaWorld, cada
        perrito es parte de nuestra familia, y estoy comprometido a hacer todo
        lo posible para que se sientan amados y seguros.
      </p>
    </div>
  </div>
  <hr />
  <div class="integrante">
    <div>
      <img src="assets/img/team/4.png" alt="team" />
    </div>
    <div>
      <h2>Abraham Melgoza de la Torre</h2>
      <p>
        Mi amor por los animales es lo que me llevó a comenzar este increíble
        viaje. Desde el primer día, mi visión ha sido crear un refugio donde
        cada perro y gato encuentre amor, seguridad y un hogar para siempre. Mi
        compromiso con esta causa va más allá de las palabras; es una promesa de
        por vida de defender y proteger a los más indefensos. Como fundadora, mi
        objetivo es inspirar a otros a unirse a nuestra misión de cambiar vidas,
        una pata a la vez. Cada ladrido y cada ronroneo me recuerdan por qué
        empecé este viaje, y estoy agradecida de compartirlo con todos
        ustedes.<br />¡Juntos, podemos hacer del mundo un lugar mejor para
        nuestros fieles amigos peludos en PaWorld!
      </p>
    </div>
  </div>
</div>

<div class="legal">
  <!--  anotación que indique que es un proyecto universitario -->
  <p>
    La presente página web es un proyecto universitario creado por estudiantes
    de la Universidad Autónoma de Aguascalientes.
  </p>
</div>
