.table-responsive {
  overflow-x: auto;
  border: 1px solid #dee2e6;
}

.table-wrapper-scroll-y {
  display: block;
}

.my-custom-scrollbar {
  position: relative;
  max-height: 55vmax;
  overflow: auto;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table th,
.table td {
  border-top: 1px solid #dee2e6;
  vertical-align: middle;
  & > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.mascota-imagen {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

/* Preserve your custom header style */
.header-row th {
  background-color: #3e51b4;
  color: white; /* Assuming white text on blue background */
}

/* Sticky header */
.table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Clase de botones en flex y sin fondo, con separación de 4 rem, hover y borde inferior azul royal */
.btncitas {
  display: flex;
  flex-direction: row;
  gap: 4rem; /* Separación entre los botones */
}

.btncitas button {
  background-color: transparent;
  border: none;
  color: #3e51b4; /* Azul royal */
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s; /* Efecto de transición para el hover */
}

.btncitas button:hover {
  border-bottom: 2px solid #3e51b4; /* Borde inferior azul royal al hacer hover */
}

#btnEliminar {
  color: #ff4081; /* Rojo y mas estilizado */
  border-bottom: 2px solid transparent;
  font-size: 1.2rem;
  cursor: pointer;
  transition: border-color 0.3s; /* Efecto de transición para el hover */
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: border-color 0.3s; /* Efecto de transición para el hover */
}

#btnEliminar:hover {
  border-bottom: 2px solid #ff4081; /* Borde inferior azul royal al hacer hover */
}
