<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Elige a tu amigo peludo</h1>
    </div>
  </div>
  <div class="masonry mb-5">
    @for(mascota of mascotas; track mascota){ @if(infoDesdeNavbar == null ||
    mascota.tipo == infoDesdeNavbar.toLowerCase()){
    <mat-card class="masonry-card">
      <img
        mat-card-image
        [src]="mascota.imagen"
        [alt]="'Foto de ' + mascota.tipo + ' de raza ' + mascota.raza"
        class="masonry-image"
      />
      <mat-card-header class="text-center">
        <mat-card-title>{{ mascota.raza }}</mat-card-title>
        <mat-card-subtitle>Sexo: {{ mascota.sexo }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="mascota.descripcion"></p>
      </mat-card-content>
      <mat-card-actions>
        <span
          class="small"
          [innerHTML]="
            'Ingreso</br>' + mascota.fechaIngreso | date : 'dd/MM/yyyy'
          "
        ></span>
        <button
          mat-flat-button
          color="accent"
          [routerLink]="['/agenda', mascota.id]"
          routerLinkActive="router-link-active"
          class="ms-auto"
        >
          Adoptar
        </button>
      </mat-card-actions>
    </mat-card>
    } }
  </div>
</div>
