.navbar {
  font-size: large;
  height: 84px;
  /* sombar debajo */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.349);
}
.nav-item {
  align-content: center;
}

.nav-color {
  background-color: #4054b4;
}

.offcanvas.show,
.offcanvas.showing,
.offcanvas.hiding {
  & > .offcanvas-body {
    background-color: #2a387f;
  }
}

.navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-toggler-icon,
.btn-close {
  filter: invert(1);
}

.navbar-brand,
.offcanvas-header {
  color: white;
}

.offcanvas-title {
  font-size: larger;
  font-weight: 500;
}

.navbar-brand:hover {
  color: white;
  text-decoration: none;
}

.nav-link {
  color: rgb(196, 196, 196);
  text-decoration: none;

  &:hover {
    color: rgb(226, 226, 226);
  }

  &.active {
    color: white;
  }
}

.nav-link.active {
  color: white;
  font-weight: 500;
}
