<div class="formulario">
  <form
    class="formulario mb-4"
    [formGroup]="multiQueryForm"
    (ngSubmit)="onSubmitQuery()"
  >
    <div class="d-flex justify-content-center gap-2">
      <mat-checkbox [formControl]="perroBoxControl">Perro</mat-checkbox>
      <mat-checkbox [formControl]="gatoBoxControl">Gato</mat-checkbox>
    </div>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput [formControl]="nameControl" />
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="nameControl.invalid"> </mat-error>
    </mat-form-field>

    <div>
      <mat-form-field>
        <mat-label>Fecha de cita</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker"
          #selectedDate
          readonly="true"
          [formControl]="fechaControl"
        />
        <mat-hint class="fecha">DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-center gap-2">
      <button type="submit" mat-raised-button color="accent">Enviar</button>
      <button mat-raised-button (click)="resetForm()">Limpiar</button>
    </div>
  </form>
</div>
<div class="table_container">
  @if (citas.length > 0) {
  <div class="table-responsive">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr class="trcont header-row">
            <th>ID</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Adoptante</th>
            <th>Imagen</th>
            <th>Tipo</th>
            <th>Raza</th>
          </tr>
        </thead>
        <tbody>
          @for (cita of citas; track $index) {
          <tr class="trcont">
            <td><span [innerHTML]="cita.id"></span></td>
            <td>
              <span>{{ cita.fechaHora | timestampToDateString }}</span>
            </td>
            <td>
              <span>{{ cita.fechaHora | timestampToHourString }}</span>
            </td>
            <td>
              <span>{{ cita.adoptante.nombre }}</span
              ><br />
              <span [innerHTML]="'Numero: ' + cita.adoptante.telefono"></span>
            </td>
            <td>
              <span>
                <img
                  [src]="cita.mascota.imagen"
                  alt="Imagen de la mascota"
                  class="mascota-imagen img-fluid"
                />
              </span>
            </td>
            <td><span [innerHTML]="cita.mascota.tipo | titlecase"></span></td>
            <td>
              <span [innerHTML]="cita.mascota.raza | titlecase"></span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  } @else {
  <div class="d-flex justify-content-center align-items-center">
    <div class="alert alert-info h1" role="alert">No hay citas que mostrar</div>
  </div>
  }
</div>
<app-loader [visible]="isLoading"></app-loader>
