.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2em;
  /* si no entra en la pantalla, dividirlo en multiples lineas */
  flex-wrap: wrap;
}

.table-responsive {
  overflow-x: auto;
  border: 1px solid #dee2e6;
}

.table-wrapper-scroll-y {
  display: block;
}

.my-custom-scrollbar {
  position: relative;
  height: 55vmax;
  overflow: auto;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table th,
.table td {
  border-top: 1px solid #dee2e6;
    vertical-align: middle;
    &> span{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.mascota-imagen {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

/* Preserve your custom header style */
.header-row th {
  background-color: #3e51b4;
  color: white; /* Assuming white text on blue background */
}

/* Sticky header */
.table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

