<h1>Bienvenidos a PaWorld</h1>

<div class="hero"></div>

<!-- Historia Section -->
<div id="historia">
  <div class="container mt-5">
    <h2 style="font-weight: bold; font-size: x-large">Nuestra Historia</h2>
    <p>
      PaWorld es un refugio de animales dedicado a brindar amor y cuidado a los
      animales que lo necesitan. Comenzamos en 2010 con la pasión y dedicación
      de un pequeño grupo de amantes de los animales que querían hacer la
      diferencia. Con el tiempo, hemos crecido y ahora contamos con un equipo
      dedicado de voluntarios y profesionales que trabajan incansablemente para
      cuidar a nuestros amigos peludos.
    </p>
    <p>
      Desde nuestros humildes comienzos, hemos rescatado y reubicado a miles de
      animales, proporcionándoles una segunda oportunidad para encontrar un
      hogar amoroso. Nuestro objetivo es seguir creciendo y ayudando a más
      animales cada año.
    </p>
  </div>
</div>

<!-- Equipo Section -->
<div id="equipo">
  <div class="container mt-5">
    <h2 style="font-weight: bold; font-size: x-large">
      Conoce a Nuestro Equipo
    </h2>
    <div class="row">
      <div class="col-md-3">
        <img
          src="assets/img/acercaDe/eri.jpg"
          alt="Miembro del Equipo"
          class="img-fluid team-img"
        />
        <h5>Eriarer</h5>
        <p>Fundadora y Directora</p>
      </div>
      <div class="col-md-3">
        <img
          src="assets/img/acercaDe/mary.jpg"
          alt="Miembro del Equipo"
          class="img-fluid team-img"
        />
        <h5>Mariana Avila</h5>
        <p>Coordinadora de Voluntarios</p>
      </div>
      <div class="col-md-3">
        <img
          src="assets/img/acercaDe/geras.jpg"
          alt="Miembro del Equipo"
          class="img-fluid team-img"
        />
        <h5>Gerardo Diosdado</h5>
        <p>Veterinario Principal</p>
      </div>
      <div class="col-md-3">
        <img
          src="assets/img/acercaDe/pau.jpg"
          alt="Miembro del Equipo"
          class="img-fluid team-img"
        />
        <h5>Ana Paulina Martinez</h5>
        <p>Administradora</p>
      </div>
      <div class="col-md-3 mt-4">
        <img
          src="assets/img/acercaDe/ake.jpg"
          alt="Miembro del Equipo"
          class="img-fluid team-img"
        />
        <h5>Aketzali Castorena</h5>
        <p>Encargada de Adopciones</p>
      </div>
      <div class="col-md-3 mt-4">
        <img
          src="assets/img/acercaDe/mich.jpg"
          alt="Miembro del Equipo"
          class="img-fluid team-img"
        />
        <h5>Michelle Gómez</h5>
        <p>Especialista en Comportamiento Animal</p>
      </div>
      <div class="col-md-3 mt-4">
        <img
          src="assets/img/acercaDe/leo.jpg"
          alt="Miembro del Equipo"
          class="img-fluid team-img"
        />
        <h5>Leonardo Gutierrez</h5>
        <p>Veterinario Asistente</p>
      </div>
      <div class="col-md-3 mt-4">
        <img
          src="assets/img/acercaDe/gerardo.jpg"
          alt="Miembro del Equipo"
          class="img-fluid team-img"
        />
        <h5>Gerardo Castañeda</h5>
        <p>Voluntario</p>
      </div>
    </div>
  </div>
</div>

<!-- Preguntas Frecuentes Section -->
<div class="faq-section">
  <h2
    style="
      color: black;
      text-align: center;
      font-weight: bold;
      font-size: x-large;
    "
  >
    Preguntas Frecuentes
  </h2>
  <br />
  <div class="accordion">
    <div class="accordion__question">
      <p>¿Cómo puedo adoptar un animal?</p>
    </div>
    <div class="accordion__answer">
      <p>
        Para adoptar un animal, puedes visitarnos en nuestro refugio o mirar las
        fotos y descripciones de los animales en nuestra página web. Una vez que
        encuentres uno que te guste, puedes completar una solicitud de adopción.
      </p>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__question">
      <p>¿Puedo ser voluntario en PaWorld?</p>
    </div>
    <div class="accordion__answer">
      <p>
        Sí, siempre estamos buscando voluntarios apasionados que nos ayuden a
        cuidar a los animales. Puedes llenar una solicitud de voluntariado en
        nuestra página web o visitarnos en el refugio para más información.
      </p>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__question">
      <p>¿Cómo puedo donar al refugio?</p>
    </div>
    <div class="accordion__answer">
      <p>
        Agradecemos todas las donaciones, grandes o pequeñas. Puedes donar a
        través de nuestra página web, en persona en el refugio, o enviando un
        cheque a nuestra dirección postal.
      </p>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__question">
      <p>¿Qué tipo de animales aceptan en el refugio?</p>
    </div>
    <div class="accordion__answer">
      <p>
        Aceptamos perros, gatos, y pequeños animales como conejos y cobayas. Si
        tienes otro tipo de animal, por favor contáctanos para discutir tu
        situación.
      </p>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__question">
      <p>¿Cómo puedo reportar un animal perdido?</p>
    </div>
    <div class="accordion__answer">
      <p>
        Puedes reportar un animal perdido a través de nuestro formulario en
        línea o llamándonos directamente. Asegúrate de proporcionar una
        descripción detallada y una foto del animal.
      </p>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__question">
      <p>¿Qué servicios ofrecen además de la adopción?</p>
    </div>
    <div class="accordion__answer">
      <p>
        Además de la adopción, ofrecemos servicios de esterilización,
        vacunación, y asesoramiento sobre el comportamiento animal.
      </p>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__question">
      <p>¿Tienen algún programa de educación para la comunidad?</p>
    </div>
    <div class="accordion__answer">
      <p>
        Sí, ofrecemos programas educativos para escuelas y comunidades sobre la
        importancia del cuidado y bienestar animal.
      </p>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__question">
      <p>¿Puedo visitar el refugio antes de adoptar?</p>
    </div>
    <div class="accordion__answer">
      <p>
        Por supuesto, te invitamos a visitar el refugio durante nuestros
        horarios de apertura para conocer a los animales y a nuestro equipo.
      </p>
    </div>
  </div>
</div>

<script>
  let accordions = document.querySelectorAll(".accordion");
  accordions.forEach((accordion) => {
    accordion.addEventListener("click", () => {
      accordion.classList.toggle("active");
    });
  });
</script>

<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  rel="stylesheet"
/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
